<!doctype html>
<html>
    <head>
        <title>Brady Mulholland</title>

    </head>
    <body>
          <header>
              <section class="personalinfo">
                  <img class="Photo" src="" alt="Brady Mulholland"/>
                  <h1 id="home">Brady</h1>
                    <ul>
                       <li>
                           <span class="label">Phone:</span>
                           <span class="value">952-212-2938</span>
                        </li>
                        <li>
                           <span class="label">Email</span>
                           <span class="value">Bradymulholland@gmail.com</span>
                       </li>
                    </ul>
              </section>
              <nav>
                  <ul>
                      <li><a href="#workExperience">Work Experience</a></li>
                      <li><a href="#technicalSkills">Technical Skills</a></li>
                      <li><a href="#education">Education</a></li>
                  </ul>
              </nav>
          </header>
          <section>
              <h2 id="workExperience">Work Experience</h2>
              <a href="#home">Home</a>
              <h3>Sales</h3>
              <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                  iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                  nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                  zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis
                  eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                  Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                  Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                  etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
                  littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
                  seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari,
                  fiant sollemnes in futurum.
              </p>
          </section>
          <section>
              <h2 id="technicalSkills">Technical Skills</h2>
              <a href="#home">Home</a>
              <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
              </ul>
          </section>
          <section>
              <h2 id="education">Education</h2>
              <a href="#home">Home</a>
              <h3>Cedarview College</h3>
              <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                  iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                  nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                  zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis
                  eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                  Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                  Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                  etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
                  littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
                  seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari,
                  fiant sollemnes in futurum.
              </p>
          </section>
    </body>
</html>

